.footer-image {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.master {
    background-color: #a9c6ff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

.master-image {
    width: 150px;
    height: auto;
}
