@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

a, div, li, button, input, span, p, label, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
    background-color: #CEDFFF;
}
.nav-item>.nav-link{
    padding: 12px 28px;
    font-size: 20px;
}
.menu_2{
    position: fixed;
    background-color: #a9c6ff;
    margin-top: 79px;
    width: 300px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}
ul>li>a{
    padding-left: 4px;
    font-size: 20px;
}
#menu_item1, #menu_item2, #menu_item3, #menu_item4, #menu_item5, #menu_item6, #menu_item7, #menu_item8, #menu_item9, #menu_item_infos{
    padding: 0 0 0 46px;
}
.footer-image {
    height: 30px;
    width: 30px;
    margin: 5px 25px 20px;
}
.footer_text{
    font-size: 24px;
    margin: 15px 0 10px 0
}

.appointment_button{
    background-color: #a9c6ff;
    border: 0;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 0 0 12px 15px;
}
.appointment_button_add_time{
    background-color: #a9c6ff;
    border: 0;
    border-radius: 10px;
    padding: 4px 16px;
    margin: 0 0 12px 15px;
}
.input_calendar_add_time{
    max-width: 100px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid #a9c6ff;
    padding: 2px 4px;
}
.appointment_button_menu{
    background-color: #a9c6ff;
    border: 0;
    border-radius: 10px;
    padding: 6px 14px;
    margin: 0 15px 15px;
    text-decoration: none;
    color: black;
}
.master {
    background-color: #a9c6ff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
    height: 240px;
}
.master_sec_button{
    width: 200px;
    background-color: white;
    border-radius: 35px;
    border: 0;
    color: black;
    padding: 6px 10px;
    font-size: 16px
}
.master_name{
    font-size: 22px;
    margin-bottom: 8px;
}
.master_description{
    font-size: 16px;
}
.master-image {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.master_sec_div{
    width: 100%;
}

.alert_css{
    border-radius: 15px;
    border: 0;
}
.img_menu{
    width: 30px;
    padding: 0;
}
.header_name{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.lang_button{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.lang_button:hover {
    color: black;
}

.lang_button:hover{
    color: black;
    text-decoration: underline;
}

.lang_button_change{
    text-decoration: underline;
    color: #336699;
}


.button_for_valera{
    margin-top: 40px;
    padding: 12px 45px;
    font-size: 18px;
    color: black;
    background-color: #a9c6ff;
    border-radius: 20px;
    border: 0;
}
.main_text{
    padding: 0 0;
}

.modal-title{
    font-size: 30px;
}
.padding_for_form{
    padding: 16px 28px;
}
.input_form{
    border-radius: 10px;
    margin-bottom: 16px;
    border: 0;
    font-size: 16px;
}
.form_main_button{
    margin: 6px 0;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    border: 0;
    color: black;
    padding: 6px 0;
    font-size: 16px
}
.form_sec_button{
    margin: 6px 0;
    width: 180px;
    background-color: white;
    border-radius: 35px;
    border: 0;
    color: black;
    padding: 6px 0;
    font-size: 16px
}
.form_header{
    border: 0;
    margin: 18px 0;
    padding-bottom: 0;
}
@media only screen and (max-width: 996px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
    }
    .main_text{
        padding: 0 10px;
    }
    .master_sec_button{
        width: 180px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 16px
    }
}
/*@media only screen and (max-width: 767px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
    }
    .master_name{
        font-size: 24px;
    }
    .master_description{
        font-size: 16px;
    }
    .master-image {
        position: absolute;
        width: 300px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 747px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        margin: 0 0px;
    }
    .img_menu{
        width: 30px;
        padding: 0;
    }
    .footer_text{
        font-size: 20px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 25px;
        width: 25px;
        margin: 5px 25px 20px;
    }
    .main_text{
        padding: 0 30px;
    }
    .master_name{
        font-size: 20px;
    }
    .master_description{
        font-size: 15px;
    }
}

@media only screen and (max-width: 540px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 150px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu{
        width: 240px;
    }
    .form_header{
        margin: 16px 0;
    }
    .master_name{
        font-size: 13px;
    }
    .master_description{
        font-size: 10px;
    }
    .master-image {
        width: 120px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
    }
    .master_sec_div{
        width: 100%;
        height: 150px;
    }
    .master{
        height: 190px;
    }
}





@media only screen and (max-width: 500px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 150px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu{
        width: 240px;
    }
    .form_header{
        margin: 16px 0;
    }
}
@media only screen and (max-width: 430px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 140px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu{
        width: 240px;
    }
    .form_header{
        margin: 14px 0;
    }
    .master_sec_button{
        width: 160px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 14px
    }
    .master_name{
        font-size: 18px;
    }
    .master_description{
        font-size: 14px;
    }
}
@media only screen and (max-width: 400px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 123px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu{
        width: 240px;
    }
    .form_header{
        margin: 14px 0;
    }
    .master_sec_button{
        width: 140px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 12px
    }
    .master_name{
        font-size: 16px;
    }
    .master_description{
        font-size: 12px;
    }
    .master-image {
        width: 140px;
        height: 175px;
        object-fit: cover;
        border-radius: 15px;
    }
    .master_sec_div{
        width: 100%;
        height: 175px;
    }
    .master{
        height: 215px;
    }
}
@media only screen and (max-width: 368px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        margin: 0 0px;
    }
    .img_menu{
        width: 20px;
        padding: 0;
    }
    .footer_text{
        font-size: 18px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 20px;
        width: 20px;
        margin: 5px 25px 20px;
    }
    .nav-item>.nav-link{
        padding: 12px 28px;
        font-size: 18px;
    }
    #menu_item1>li>a{
        padding-left: 4px;
        font-size: 18px;
    }
    .main_text{
        padding: 0 20px;
    }
    .form_sec_button{
        margin: 6px 0;
        width: 115px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 12px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu{
        width: 240px;
    }
    .form_header{
        margin: 14px 0;
    }
    .master_sec_button{
        width: 120px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 4px 0;
        font-size: 10px
    }
    .master_name{
        font-size: 13px;
    }
    .master_description{
        font-size: 10px;
    }
    .master-image {
        width: 120px;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
    }
    .master_sec_div{
        width: 100%;
        height: 150px;
    }
    .master{
        height: 190px;
    }
}
@media only screen and (max-width: 320px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        margin: 0 0px;
    }
    .footer_text{
        font-size: 16px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 20px;
        width: 20px;
        margin: 5px 25px 20px;
    }
    .nav-item>.nav-link{
        padding: 12px 28px;
        font-size: 16px;
    }
    #menu_item1>li>a{
        padding-left: 4px;
        font-size: 16px;
    }
    .main_text{
        padding: 0 20px;
    }
    .form_sec_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 13px;
    }
    #menu_item1>li>a{
        font-size: 13px;
    }
    .menu{
        width: 200px;
    }
    .form_header{
        margin: 0px 0;
    }
    .master_sec_button{
        width: 90px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 4px 0;
        font-size: 9px
    }
    .master_name{
        font-size: 12px;
        max-width: 90px;
        margin-bottom: 4px;
    }
    .master_description{
        font-size: 8.5px;
        max-width: 90px;
    }
    .master-image {
        width: 100px;
        height: 125px;
        object-fit: cover;
        border-radius: 15px;
    }
    .master_sec_div{
        width: 100%;
        height: 125px;
    }
    .master{
        height: 165px;
    }
}
*/

.input_form_social{
    height: 36px;
    margin-right: 20px;
}
.div_form_social{
    height: 36px;
}

.switch {
    width: 100px;
    display: inline-block;
    background: none;

}


.element {
    display: inline-block;
    transition: 1s;
}

.switch-button {
    display: none;

}

.switch-button:checked + label {
    background: #3378FF;
}

.switch-image {
    width: 36px;
    height: 36px;

}

.masterDescHeight{
    height: 164px;
}
.masterSaniaZaebalEdition {
    background-color: #a9c6ff;
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 50px 0;
    /*margin-bottom: 50px;*/
    height: auto;
}
.master_sec_buttonSaniaZaebalEdition{
    width: 200px;
    background-color: white;
    border-radius: 35px;
    border: 0;
    color: black;
    padding: 6px 10px;
    font-size: 16px;
}
.master_nameSaniaZaebalEdition{
    font-size: 24px;
    margin-bottom: 8px;
}
.master_descriptionSaniaZaebalEdition{
    font-size: 16px;
}
.master-imageSaniaZaebalEdition {
    width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.master_sec_divSaniaZaebalEdition{
    width: 100%;
}
master_margin_sm{
    margin: 0 30px;
}
.youtube_media{
    width: 100%;
    height: 513px;
    margin-top: 20px;
}
.admin_button_SaniaZaebalEdition{
    padding: 6px 12px;
    margin: 1px;

}
.admin_button_img_SaniaZaebalEdition {
    width: 16px;
    height: 16px;
}
.admin_master_table_sm{ }
.admin_3_table_sm{ }
.comment_button{
    width: 150px;
    margin: 15px 0 15px;
    padding: 6px 10px;
    font-size: 18px;
    color: black;
    background-color: #a9c6ff;
    border-radius: 20px;
    border: 0;
}
@media only screen and (max-width: 1920px) {
    .scroll_table{
        width: auto;
        height: 600px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 700px;
        overflow: auto;
    }
    .youtube_media{
        height: 716px;
    }
}
@media only screen and (max-width: 1440px) {
    .scroll_table{
        width: auto;
        height: 560px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 600px;
        overflow: auto;
    }
    .youtube_media{
        height: 581px;
    }
}
@media only screen and (max-width: 1366px) {
    .scroll_table{
        width: auto;
        height: 520px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 580px;
        overflow: auto;
    }
    .youtube_media{
        height: 550px;
    }
}
@media only screen and (max-width: 1280px) {
    .scroll_table{
        width: auto;
        height: 480px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 550px;
        overflow: auto;
    }
    .youtube_media{
        width: 100%;
        height: 513px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1280px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
    }
    .master_nameSaniaZaebalEdition{
        font-size: 24px;
        margin-bottom: 4px;
    }
    .master_descriptionSaniaZaebalEdition{
        font-size: 15px;
    }
    .youtube_media{
        height: 479px;
    }
    .scroll_form{
        width: auto;
        height: 420px;
        overflow: auto;
    }
}
@media only screen and (max-width: 1024px) {
    .scroll_table{
        width: auto;
        height: 360px;
        overflow: auto;
    }
    .youtube_media{
        height: 405px;
    }
}
@media only screen and (max-width: 820px) {
    .scroll_table{
        width: auto;
        height: 820px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 860px;
        overflow: auto;
    }
    .youtube_media{
        height: 378px;
    }
}
@media only screen and (max-width: 768px) {
    .scroll_table{
        width: auto;
        height: 700px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 720px;
        overflow: auto;
    }
}
@media only screen and (max-width: 767px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
    }
    .master_nameSaniaZaebalEdition{
        font-size: 24px;
        margin: 10px 0;
    }
    .master_descriptionSaniaZaebalEdition{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .master-imageSaniaZaebalEdition {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }
    .masterDescHeight{
        height: auto;
    }
    .master_sec_buttonSaniaZaebalEdition{
        width: 100%;
        padding: 10px 10px;
    }
    .scroll_table{
        width: auto;
        height: 400px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 420px;
        overflow: auto;
    }
    .youtube_media{
        height: 277px;
    }
}
@media only screen and (max-width: 576px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 26px;
    }
    .master_name{
        font-size: 24px;
    }
    .master_description{
        font-size: 16px;
    }
    .master-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }
    .scroll_table{
        width: auto;
        height: 400px;
        overflow: auto;
    }
    .youtube_media{
        height: 292px;
    }
}
@media only screen and (max-width: 540px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 150px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 18px;
    }
    ul>li>a{
        font-size: 18px;
    }
    .menu_2{
        width: 260px;
    }
    .form_header{
        margin: 16px 0;
    }
    .input_form_social{
        height: 33px;
        margin-right: 15px;
    }
    .div_form_social{
        height: 33px;
    }
    .switch-image{
        width: 33px;
        height: 33px;
    }
    .footer_text{
        font-size: 20px;
    }
    .footer-image {
        height: 25px;
        width: 25px;
        margin: 5px 25px 20px;
    }
    .scroll_table{
        width: auto;
        height: 400px;
        overflow: auto;
    }
    .scroll_form{
        width: auto;
        height: 420px;
        overflow: auto;
    }
    .youtube_media{
        height: 264px;
    }
}
@media only screen and (max-width: 480px) {
    .appointment_button_menu{
        background-color: #a9c6ff;
        padding: 6px 12px;
        margin: 0 8px 15px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 430px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 140px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    ul>li>a{
        font-size: 16px;
    }
    .menu_2{
        width: 260px;
    }
    .form_header{
        margin: 14px 0;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        margin: 0 0px;
    }
    .scroll_table{
        width: auto;
        height: 580px;
        overflow: auto;
    }
    .youtube_media{
        height: 215px;
    }
    .scroll_form{
        width: auto;
        height: 630px;
        overflow: auto;
    }

}


@media only screen and (max-width: 400px) {
    .modal-title{
        font-size: 26px;
    }
    .input_form{
        font-size: 14px;
    }
    .form_main_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .form_sec_button{
        margin: 6px 0;
        width: 123px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu_2{
        width: 240px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        margin: 0 0px;
    }
    .img_menu{
        width: 25px;
        height: 25px;
    }
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
    }
    .form_header{
        margin: 14px 0;
    }
    .master_sec_buttonSaniaZaebalEdition{
        padding: 8px 0;
    }
    .master_nameSaniaZaebalEdition{
        font-size: 20px;
    }
    .master_descriptionSaniaZaebalEdition{
        font-size: 15px;
    }
    .footer_text{
        font-size: 18px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 20px;
        width: 20px;
        margin: 5px 25px 20px;
    }
    .scroll_table{
        width: auto;
        height: 535px;
        overflow: auto;
    }
    .youtube_media{
        height: 196px;
    }
    .scroll_form{
        width: auto;
        height: 630px;
        overflow: auto;
    }
    .master_sec_button{
        width: 150px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 16px
    }
    .date_study{
        font-size: 16px;
    }
    .appointment_button_menu{
        background-color: #a9c6ff;
        padding: 6px 12px;
        margin: 0 6px 15px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 385px) {
    .scroll_table{
        width: auto;
        height: 460px;
        overflow: auto;
    }
    .youtube_media{
        height: 190px;
    }
    .scroll_form{
        width: auto;
        height: 480px;
        overflow: auto;
    }
    .master_sec_button{
        width: 150px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 16px
    }
    .date_study{
        font-size: 16px;
    }
}
@media only screen and (max-width: 368px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        margin: 0 0px;
    }
    .img_menu{
        width: 20px;
        padding: 0;
    }
    .footer_text{
        font-size: 18px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 20px;
        width: 20px;
        margin: 5px 25px 20px;
    }
    .nav-item>.nav-link{
        padding: 12px 28px;
        font-size: 18px;
    }
    #menu_item1>li>a{
        padding-left: 4px;
        font-size: 12px;
    }
    .main_text{
        padding: 0 20px;
    }
    .form_sec_button{
        margin: 6px 0;
        width: 115px;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 12px
    }
    .nav-item>.nav-link{
        font-size: 16px;
    }
    #menu_item1>li>a{
        font-size: 16px;
    }
    .menu_2{
        width: 240px;
    }
    .form_header{
        margin: 14px 0;
    }
    .master_nameSaniaZaebalEdition{
        font-size: 18px;
    }
    .master_descriptionSaniaZaebalEdition{
        font-size: 14px;
    }
    .scroll_table{
        width: auto;
        height: 430px;
        overflow: auto;
    }
    .youtube_media{
        height: 180px;
    }
    .scroll_form{
        width: auto;
        height: 450px;
        overflow: auto;
    }
    .master_sec_button{
        width: 150px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 6px 0;
        font-size: 16px
    }
    .date_study{
        font-size: 16px;
    }
    .appointment_button_menu{
        background-color: #a9c6ff;
        padding: 5px 10px;
        margin: 0 4px 15px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    .header_name{
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
    }
    .lang_button{
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        margin: 0 0px;
    }
    .footer_text{
        font-size: 16px;
        margin: 15px 0 10px 0
    }
    .footer-image {
        height: 20px;
        width: 20px;
        margin: 5px 25px 20px;
    }
    .nav-item>.nav-link{
        padding: 12px 28px;
        font-size: 16px;
    }
    #menu_item1>li>a{
        padding-left: 4px;
        font-size: 16px;
    }
    .main_text{
        padding: 0 20px;
    }
    .form_sec_button{
        margin: 6px 0;
        width: 100%;
        background-color: white;
        border-radius: 35px;
        border: 0;
        color: black;
        padding: 6px 0;
        font-size: 14px
    }
    .nav-item>.nav-link{
        font-size: 13px;
    }
    #menu_item1>li>a{
        font-size: 13px;
    }
    ul>li>a{
        font-size: 13px;
    }
    .menu_2{
        width: 200px;
    }
    .form_header{
        margin: 0px 0;
    }
    .master_sec_buttonSaniaZaebalEdition{
        padding: 6px 0;
    }
    .master_nameSaniaZaebalEdition{
        font-size: 18px;

    }
    .master_descriptionSaniaZaebalEdition{
        font-size: 13px;
    }
    .masterSaniaZaebalEdition{
        padding: 15px;
    }
    .input_form_social{
        font-size: 12px;
        margin-right: 15px;
    }
    .appointment_button_menu{
        background-color: #a9c6ff;
        padding: 5px 8px;
        margin: 0 5px 15px;
        font-size: 10px;
    }
}

.admin_search{
    margin: 0 10px;
    border-radius: 5px;
    padding: 0 10px;
}
.admin_button_add{
}
.admin_button_img{
    width: 16px;
    height: 16px;
}
.admin_button2{
    width: 80px;
}
.admin_button2:nth-child(2){
    margin: 5px 0;
}
.admin_button_search{
    width: 38px;
    padding: 5px;
}
.admin_add_img{
    width: 16px;
}

@media only screen and (max-width: 447px) {
    .admin_button_add{
        font-size: 12px;
    }
    .admin_button_search{
        font-size: 12px;
    }
    .admin_add_img{
        width: 12px;
    }
    .admin_search{
        width: 150px;
    }
    .admin_button_search{
        width: 30px;
    }
    tbody{
        font-size: 14px;
    }
    .admin_table_button{
        font-size: 14px;
    }
    .admin_button_img{
        width: 16px;
        height: 16px;
    }
    .admin_button2{
        width: 80px;
    }
    .admin_master_table_sm{
        width: 500px;
    }
    .admin_3_table_sm{
        width: 400px;
    }

}
@media only screen and (max-width: 334px) {
    .admin_add_img{
        display: none;
    }
    .scroll_table{
        width: auto;
        height: 415px;
        overflow: auto;
    }
    .youtube_media{
        height: 161px;
    }
    .scroll_form{
        width: auto;
        height: 430px;
        overflow: auto;
    }
}

@media only screen and (max-width: 319px) {
    .admin_button_add{
        font-size: 12px;
    }
    .admin_button_search{
        font-size: 12px;
    }
    .admin_search{
        width: 110px;
        font-size: 12px;
    }
    .admin_button_search{
        width: 30px;
    }
    thead{
        font-size: 14px;
    }
    tbody{
        font-size: 12px;
    }
    .admin_table_button{
        font-size: 12px;
    }
    .scroll_table{
        width: auto;
        height: 415px;
        overflow: auto;
    }
    .youtube_media{
        height: 152px;
    }
    .scroll_form{
        width: auto;
        height: 430px;
        overflow: auto;
    }
    .master_sec_button{
        width: 90px;
        border-radius: 35px;
        margin-top: 10px;
        padding: 4px 0;
        font-size: 14px
    }
    .date_study{
        font-size: 14px;
    }
    .admin_button_SaniaZaebalEdition{
        padding: 3px 7px;
        margin: 1px;

    }
    .admin_button_img_SaniaZaebalEdition {
        width: 12px;
        height: 12px;
    }
    .admin_master_table_sm{
        width: 320px;
    }
    .admin_3_table_sm{
        width: 300px;
    }
}
